In [1]:
import h2o
import sys
from h2o.automl import H2OAutoML

h2o.init()
#h2o.init(ip="localhost", port=54321)

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.4" 2019-07-16; OpenJDK Runtime Environment (build 11.0.4+11-post-Ubuntu-1ubuntu218.04.3); OpenJDK 64-Bit Server VM (build 11.0.4+11-post-Ubuntu-1ubuntu218.04.3, mixed mode, sharing)
  Starting server from /home/hyoon/.local/share/virtualenvs/se_h2o-C20bdewn/lib/python3.7/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpv3jlgxr6
  JVM stdout: /tmp/tmpv3jlgxr6/h2o_hyoon_started_from_python.out
  JVM stderr: /tmp/tmpv3jlgxr6/h2o_hyoon_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         01 secs
H2O cluster timezone:       America/New_York
H2O data parsing timezone:  UTC
H2O cluster version:        3.26.0.11
H2O cluster version age:    3 days
H2O cluster name:           H2O_from_python_hyoon_2xwz9u
H2O cluster total nodes:    1
H2O cluster free memory:    3.904 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.7.5 final
--------------------------  ------------------------------------------------------------------

In [2]:
# airlines = h2o.import_file('https://s3.amazonaws.com/h2o-public-test-data/smalldata/chicago/Chicago_Ohare_International_Airport.csv')

url = "https://raw.githubusercontent.com/DarrenCook/h2o/bk/datasets/"
iris = h2o.import_file(url+"iris_wheader.csv")  

y_col = "class"  
x_cols = iris.names
x_cols.remove(y_col)
train, test = iris.split_frame([0.8])  

model = h2o.estimators.deeplearning.H2ODeepLearningEstimator()  
model.train(x_cols, y_col, train)
predictions = model.predict(test)

Parse progress: |█████████████████████████████████████████████████████████| 100%
deeplearning Model Build progress: |██████████████████████████████████████| 100%
deeplearning prediction progress: |███████████████████████████████████████| 100%

In [3]:
model

Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_model_python_1575901497867_1


Status of Neuron Layers: predicting class, 3-class classification, multinomial distribution, CrossEntropy loss, 41,803 weights/biases, 498.2 KB, 1,260 training samples, mini-batch size 1

,,layer,units,type,dropout,l1,l2,mean_rate,rate_rms,momentum,mean_weight,weight_rms,mean_bias,bias_rms
0,,1,4,Input,0,,,,,,,,,
1,,2,200,Rectifier,0,0,0,0.00390903,0.00386064,0,-0.00167252,0.105128,0.490064,0.00725663
2,,3,200,Rectifier,0,0,0,0.018416,0.100241,0,-0.000594823,0.0697826,0.999386,0.00293865
3,,4,3,Softmax,,0,0,0.0128543,0.100473,0,-0.0120192,0.405987,-0.000578739,0.000758182

ModelMetricsMultinomial: deeplearning
** Reported on train data. **

MSE: 0.012976309842017569
RMSE: 0.11391360692216522
LogLoss: 0.04945146800782254
Mean Per-Class Error: 0.016463414634146342

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         45.0              0.0             0.0  0.000000   0 / 45
1          0.0             39.0             1.0  0.025000   1 / 40
2          0.0              1.0            40.0  0.024390   1 / 41
3         45.0             40.0            41.0  0.015873  2 / 126

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.984127
1  2   1.000000
2  3   1.000000

Scoring History:

,,timestamp,duration,training_speed,epochs,iterations,samples,training_rmse,training_logloss,training_r2,training_classification_error
0,,2019-12-09 09:25:01,0.000 sec,None,0.0,0,0.0,NaN,NaN,NaN,NaN
1,,2019-12-09 09:25:02,0.949 sec,597 obs/sec,1.0,1,126.0,0.713447,2.306605,0.253143,0.611111
2,,2019-12-09 09:25:02,1.250 sec,2490 obs/sec,10.0,10,1260.0,0.113914,0.049451,0.980960,0.015873

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  petal_wid             1.000000           1.000000    0.257456
1  petal_len             0.990735           0.990735    0.255070
2  sepal_wid             0.949111           0.949111    0.244354
3  sepal_len             0.944319           0.944319    0.243120

In [4]:
train.summary()

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.3,2.0,1.0,0.1,
mean,5.836507936507937,3.0793650793650786,3.693650793650794,1.1730158730158733,
maxs,7.9,4.4,6.9,2.5,
sigma,0.8585199519734572,0.45030078131266127,1.808723131128522,0.7822442276846994,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,5.0,3.4,1.5,0.2,Iris-setosa
7,4.4,2.9,1.4,0.2,Iris-setosa
8,4.9,3.1,1.5,0.1,Iris-setosa
9,5.4,3.7,1.5,0.2,Iris-setosa

In [5]:
predictions[predictions[['predict']] !=  test[['class']] ]

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-versicolor,6.02177e-07,0.871541,0.128458

In [10]:
model.model_performance(test)

ModelMetricsMultinomial: deeplearning
** Reported on test data. **

MSE: 0.04224071421447154
RMSE: 0.2055254587988348
LogLoss: 0.12450954329005394
Mean Per-Class Error: 0.037037037037037035

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0          5.0              0.0             0.0  0.000000   0 / 5
1          0.0             10.0             0.0  0.000000  0 / 10
2          0.0              1.0             8.0  0.111111   1 / 9
3          5.0             11.0             8.0  0.041667  1 / 24

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.958333
1  2   1.000000
2  3   1.000000

In [16]:
modAml = H2OAutoML(max_runtime_secs=30)

In [22]:
modAml.train(x_cols, y_col, train)

AutoML progress: |████████████████████████████████████████████████████████| 100%

In [23]:
predAml = modAml.predict(test)

glm prediction progress: |████████████████████████████████████████████████| 100%

In [25]:
modAml.leaderboard

model_id,mean_per_class_error,logloss,rmse,mse
GLM_grid_1_AutoML_20191209_095310_model_1,0.0327236,0.0585459,0.138513,0.0191859
GLM_grid_1_AutoML_20191209_094823_model_1,0.0327236,0.0585459,0.138513,0.0191859
GBM_grid_1_AutoML_20191209_095310_model_75,0.0410569,0.434602,0.203617,0.0414599
GBM_grid_1_AutoML_20191209_095310_model_55,0.0412602,0.175575,0.199442,0.039777
XGBoost_grid_1_AutoML_20191209_094823_model_18,0.0412602,0.324425,0.285051,0.081254
GBM_grid_1_AutoML_20191209_095310_model_20,0.0412602,0.690996,0.498202,0.248205
GBM_grid_1_AutoML_20191209_095310_model_61,0.0412602,0.146885,0.196059,0.0384392
GBM_grid_1_AutoML_20191209_094823_model_32,0.0412602,0.149962,0.19863,0.0394539
GBM_grid_1_AutoML_20191209_095310_model_40,0.0412602,0.176705,0.211434,0.0447043
GBM_1_AutoML_20191209_095310,0.0412602,0.171679,0.200007,0.0400029

In [26]:
modAml.leader

Model Details
=============
H2OGeneralizedLinearEstimator :  Generalized Linear Modeling
Model Key:  GLM_grid_1_AutoML_20191209_095310_model_1


GLM Model: summary

,,family,link,regularization,lambda_search,number_of_predictors_total,number_of_active_predictors,number_of_iterations,training_frame
0,,multinomial,multinomial,Ridge ( lambda = 7.095E-5 ),"nlambda = 30, lambda.max = 44.061, lambda.min = 7.095E-5, lambda.1...",15,12,172,automl_training_py_3_sid_bfc1

ModelMetricsMultinomialGLM: glm
** Reported on train data. **

MSE: 0.008229466267004123
RMSE: 0.0907164057213695

ModelMetricsMultinomialGLM: glm
** Reported on cross-validation data. **

MSE: 0.019185932997919826
RMSE: 0.13851329538322243

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.97661537,0.034579467,0.9230769,1.0,0.96,1.0,1.0
1,err,0.023384616,0.034579467,0.07692308,0.0,0.04,0.0,0.0
2,err_count,0.6,0.8944272,2.0,0.0,1.0,0.0,0.0
3,logloss,0.05520286,0.048910797,0.13073361,0.031510793,0.06956258,0.043382075,8.252564E-4
4,max_per_class_error,0.06944445,0.101112634,0.22222222,0.0,0.125,0.0,0.0
5,mean_per_class_accuracy,0.9768519,0.033704214,0.9259259,1.0,0.9583333,1.0,1.0
6,mean_per_class_error,0.023148147,0.033704214,0.074074075,0.0,0.041666668,0.0,0.0
7,mse,0.017791478,0.018693497,0.047102157,0.006222404,0.024466991,0.011158205,7.632751E-6
8,null_deviance,55.31153,1.0168289,57.13049,54.85679,54.85679,54.85679,54.85679
9,r2,0.9740533,0.027010195,0.93196356,0.9908278,0.96393424,0.98355216,0.99998873
10,residual_deviance,2.8124366,2.5471668,6.7981477,1.5755397,3.478129,2.1691039,0.04126282
11,rmse,0.112145394,0.08073792,0.21703032,0.07888222,0.15641928,0.1056324,0.0027627433

Scoring History:

,,timestamp,duration,iteration,lambda,predictors,deviance_train,deviance_test,deviance_xval,deviance_se
0,,2019-12-09 09:53:16,0.000 sec,2,.44E2,15,2.151974,NaN,2.160793,0.001112
1,,2019-12-09 09:53:16,0.002 sec,4,.27E2,15,2.127254,NaN,2.140813,0.001500
2,,2019-12-09 09:53:16,0.003 sec,6,.17E2,15,2.089373,NaN,2.109955,0.002133
3,,2019-12-09 09:53:16,0.008 sec,8,.11E2,15,2.032937,NaN,2.063269,0.003112
4,,2019-12-09 09:53:16,0.010 sec,10,.66E1,15,1.952251,NaN,1.995107,0.004550
5,,2019-12-09 09:53:16,0.011 sec,12,.41E1,15,1.843668,NaN,1.900543,0.006543
6,,2019-12-09 09:53:16,0.014 sec,15,.25E1,15,1.707677,NaN,1.778143,0.009117
7,,2019-12-09 09:53:16,0.016 sec,18,.16E1,15,1.552095,NaN,1.631530,0.012367
8,,2019-12-09 09:53:16,0.018 sec,21,.97E0,15,1.388424,NaN,1.471858,0.015942
9,,2019-12-09 09:53:16,0.025 sec,24,.61E0,15,1.228850,NaN,1.311048,0.019977
10,,2019-12-09 09:53:16,0.032 sec,27,.38E0,15,1.081979,NaN,1.159693,0.024206
11,,2019-12-09 09:53:16,0.034 sec,30,.23E0,15,0.950578,NaN,1.023955,0.028312
12,,2019-12-09 09:53:16,0.037 sec,33,.14E0,15,0.832202,NaN,0.903360,0.032053
13,,2019-12-09 09:53:16,0.041 sec,36,.9E-1,15,0.721755,NaN,0.793460,0.035156
14,,2019-12-09 09:53:16,0.043 sec,39,.56E-1,15,0.616185,NaN,0.689093,0.037345
15,,2019-12-09 09:53:16,0.046 sec,43,.35E-1,15,0.516091,NaN,0.589115,0.038714
16,,2019-12-09 09:53:16,0.049 sec,47,.22E-1,15,0.425690,NaN,0.494129,0.039526
17,,2019-12-09 09:53:16,0.052 sec,51,.13E-1,15,0.348462,NaN,0.410954,0.040097
18,,2019-12-09 09:53:16,0.057 sec,56,.83E-2,15,0.284515,NaN,0.341419,0.040520
19,,2019-12-09 09:53:16,0.062 sec,62,.52E-2,15,0.233271,NaN,0.284699,0.040565

See the whole table with table.as_data_frame()

In [27]:
modAml.leader.model_performance

Model Details
=============
H2OGeneralizedLinearEstimator :  Generalized Linear Modeling
Model Key:  GLM_grid_1_AutoML_20191209_095310_model_1


GLM Model: summary

,,family,link,regularization,lambda_search,number_of_predictors_total,number_of_active_predictors,number_of_iterations,training_frame
0,,multinomial,multinomial,Ridge ( lambda = 7.095E-5 ),"nlambda = 30, lambda.max = 44.061, lambda.min = 7.095E-5, lambda.1...",15,12,172,automl_training_py_3_sid_bfc1

ModelMetricsMultinomialGLM: glm
** Reported on train data. **

MSE: 0.008229466267004123
RMSE: 0.0907164057213695

ModelMetricsMultinomialGLM: glm
** Reported on cross-validation data. **

MSE: 0.019185932997919826
RMSE: 0.13851329538322243

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.97661537,0.034579467,0.9230769,1.0,0.96,1.0,1.0
1,err,0.023384616,0.034579467,0.07692308,0.0,0.04,0.0,0.0
2,err_count,0.6,0.8944272,2.0,0.0,1.0,0.0,0.0
3,logloss,0.05520286,0.048910797,0.13073361,0.031510793,0.06956258,0.043382075,8.252564E-4
4,max_per_class_error,0.06944445,0.101112634,0.22222222,0.0,0.125,0.0,0.0
5,mean_per_class_accuracy,0.9768519,0.033704214,0.9259259,1.0,0.9583333,1.0,1.0
6,mean_per_class_error,0.023148147,0.033704214,0.074074075,0.0,0.041666668,0.0,0.0
7,mse,0.017791478,0.018693497,0.047102157,0.006222404,0.024466991,0.011158205,7.632751E-6
8,null_deviance,55.31153,1.0168289,57.13049,54.85679,54.85679,54.85679,54.85679
9,r2,0.9740533,0.027010195,0.93196356,0.9908278,0.96393424,0.98355216,0.99998873
10,residual_deviance,2.8124366,2.5471668,6.7981477,1.5755397,3.478129,2.1691039,0.04126282
11,rmse,0.112145394,0.08073792,0.21703032,0.07888222,0.15641928,0.1056324,0.0027627433

Scoring History:

,,timestamp,duration,iteration,lambda,predictors,deviance_train,deviance_test,deviance_xval,deviance_se
0,,2019-12-09 09:53:16,0.000 sec,2,.44E2,15,2.151974,NaN,2.160793,0.001112
1,,2019-12-09 09:53:16,0.002 sec,4,.27E2,15,2.127254,NaN,2.140813,0.001500
2,,2019-12-09 09:53:16,0.003 sec,6,.17E2,15,2.089373,NaN,2.109955,0.002133
3,,2019-12-09 09:53:16,0.008 sec,8,.11E2,15,2.032937,NaN,2.063269,0.003112
4,,2019-12-09 09:53:16,0.010 sec,10,.66E1,15,1.952251,NaN,1.995107,0.004550
5,,2019-12-09 09:53:16,0.011 sec,12,.41E1,15,1.843668,NaN,1.900543,0.006543
6,,2019-12-09 09:53:16,0.014 sec,15,.25E1,15,1.707677,NaN,1.778143,0.009117
7,,2019-12-09 09:53:16,0.016 sec,18,.16E1,15,1.552095,NaN,1.631530,0.012367
8,,2019-12-09 09:53:16,0.018 sec,21,.97E0,15,1.388424,NaN,1.471858,0.015942
9,,2019-12-09 09:53:16,0.025 sec,24,.61E0,15,1.228850,NaN,1.311048,0.019977
10,,2019-12-09 09:53:16,0.032 sec,27,.38E0,15,1.081979,NaN,1.159693,0.024206
11,,2019-12-09 09:53:16,0.034 sec,30,.23E0,15,0.950578,NaN,1.023955,0.028312
12,,2019-12-09 09:53:16,0.037 sec,33,.14E0,15,0.832202,NaN,0.903360,0.032053
13,,2019-12-09 09:53:16,0.041 sec,36,.9E-1,15,0.721755,NaN,0.793460,0.035156
14,,2019-12-09 09:53:16,0.043 sec,39,.56E-1,15,0.616185,NaN,0.689093,0.037345
15,,2019-12-09 09:53:16,0.046 sec,43,.35E-1,15,0.516091,NaN,0.589115,0.038714
16,,2019-12-09 09:53:16,0.049 sec,47,.22E-1,15,0.425690,NaN,0.494129,0.039526
17,,2019-12-09 09:53:16,0.052 sec,51,.13E-1,15,0.348462,NaN,0.410954,0.040097
18,,2019-12-09 09:53:16,0.057 sec,56,.83E-2,15,0.284515,NaN,0.341419,0.040520
19,,2019-12-09 09:53:16,0.062 sec,62,.52E-2,15,0.233271,NaN,0.284699,0.040565

See the whole table with table.as_data_frame()

In [33]:
predAml[predAml[['predict']] != test[['class']]]

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-versicolor,9.58118e-07,0.889416,0.110583

In [43]:
from sklearn.utils import shuffle
import pandas as pd

df = pd.DataFrame({'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
              'Price': [22000,25000,27000,35000] })
#shuffle(iris)
shuffle(df)

            Brand  Price
1  Toyota Corolla  25000
3         Audi A4  35000
2      Ford Focus  27000
0     Honda Civic  22000